In [14]:
import numpy as np
import pandas as pd

In [15]:
df = pd.read_excel('Employee Wellness Spreadsheet 2.xlsx')

In [16]:


# df = df.drop(df.loc[0:17].index, axis=0, inplace=True)
# print(df.type())

In [17]:
df.head(30)

,Group Number,Group Name,Member ID,Last Name,First Name,MI,Birth Date,Plan,Product,Member Status,...,Apr.2,May.2,Jun.2,Jul.2,Aug.2,Sep.2,Oct.2,Nov.2,Dec.2,Healthy Habits Subtotal
0,G1007098,WASATCH ACADEMY,801755286-00,Magaluk,Travis,W,05/29/1987,MEDICAL,SHARE,SUBSCRIBER,...,,,,,,,,,,0.0
1,G1007098,WASATCH ACADEMY,800969400-00,Prows,Michelle,,08/13/1970,MEDICAL,SHARE,SUBSCRIBER,...,,,,,X,X,,X,,5.0
2,G1007098,WASATCH ACADEMY,NaN,NaN,NaN,NaN,NaN,MEDICAL,SHARE,SPOUSE,...,,,,,,,,,,0.0
3,G1007098,WASATCH ACADEMY,NaN,NaN,NaN,NaN,NaN,MEDICAL,SHARE,DEPENDENT,...,,,,,,,,,,0.0
4,G1007098,WASATCH ACADEMY,NaN,NaN,NaN,NaN,NaN,MEDICAL,SHARE,DEPENDENT,...,,,,,,,,,,0.0
5,G1007098,WASATCH ACADEMY,NaN,NaN,NaN,NaN,NaN,MEDICAL,SHARE,SUBSCRIBER,...,,,,,X,,,,,1.0
6,G1007098,WASATCH ACADEMY,NaN,NaN,NaN,NaN,NaN,MEDICAL,SHARE,SUBSCRIBER,...,,,,,,,,X,,2.0
7,G1007098,WASATCH ACADEMY,NaN,NaN,NaN,NaN,NaN,MEDICAL,SHARE,SUBSCRIBER,...,,,,,X,X,X,X,,5.0
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,G1007098,WASATCH ACADEMY,NaN,NaN,NaN,,NaN,HEALTHY LIVING,NON-SHARE,SUBSCRIBER,...,,,,,,,,,,0.0

In [18]:
df.columns

Index(['Group Number', 'Group Name', 'Member ID', 'Last Name', 'First Name',
       'MI', 'Birth Date', 'Plan', 'Product', 'Member Status', 'Plan Type',
       'Plan Status', 'Plan Start Date', 'Plan End Date',
       'SelectHealth Account', 'VP Account',
       'Last Health Assessment (VP Health Check)',
       'Last Digital Coaching (1 VP Journey)',
       'Health Screening (Worksite or Provider)', 'Health Screening Due Date',
       'Select Primary Care Provider',
       'Activity Campaigns (VP Team Challenges) **', 'Jan', 'Feb', 'Mar',
       'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec',
       'VP Team Challenges Subtotal', 'Jan.1', 'Feb.1', 'Mar.1', 'Apr.1',
       'May.1', 'Jun.1', 'Jul.1', 'Aug.1', 'Sep.1', 'Oct.1', 'Nov.1', 'Dec.1',
       '7,000 Steps Subtotal', 'Jan.2', 'Feb.2', 'Mar.2', 'Apr.2', 'May.2',
       'Jun.2', 'Jul.2', 'Aug.2', 'Sep.2', 'Oct.2', 'Nov.2', 'Dec.2',
       'Healthy Habits Subtotal'],
      dtype='object')

In [19]:
list_of_column_names = ['Last Name', 'First Name', 'Member Status', 'Plan Status', 'Last Health Assessment (VP Health Check)', 'Last Digital Coaching (1 VP Journey)', 'Health Screening (Worksite or Provider)', 'Activity Campaigns (VP Team Challenges) **']

df_sort = df[list_of_column_names]

In [20]:
df_sort.head()

df_sort = df_sort[df_sort['Member Status'] == 'SUBSCRIBER']

df_sort.head()

,Last Name,First Name,Member Status,Plan Status,Last Health Assessment (VP Health Check),Last Digital Coaching (1 VP Journey),Health Screening (Worksite or Provider),Activity Campaigns (VP Team Challenges) **
0,Magaluk,Travis,SUBSCRIBER,ACTIVE,11/21/2021,12/15/2021,X,2.0
1,Prows,Michelle,SUBSCRIBER,ACTIVE,08/14/2021,08/13/2021,X,6.0
5,NaN,NaN,SUBSCRIBER,ACTIVE,,,X,1.0
6,NaN,NaN,SUBSCRIBER,ACTIVE,11/06/2021,02/13/2022,X,2.0
7,NaN,NaN,SUBSCRIBER,ACTIVE,01/31/2022,03/18/2022,X,9.0