# Good cleaning algorithm here to get the spreadsheet in and cleaned up.

In [1]:
import numpy as np
import pandas as pd
import gspread

In [6]:
df1 = pd.read_excel('../../E_HW_data_12_7.xlsx')

In [7]:


# df = df.drop(df.loc[0:17].index, axis=0, inplace=True)
# print(df.type())

In [9]:
df1.head(5)

# df1.columns

,Last Name,First Name,Plan,Product,Member Status,Plan Type,Plan Status,SelectHealth Account,Last Health Assessment (VP Health Check),Last Digital Coaching (1 VP Journey),...,Apr.2,May.2,Jun.2,Jul.2,Aug.2,Sep.2,Oct.2,Nov.2,Dec.2,Healthy Habits Subtotal
0,Wolf Velarde,Gabriel,MEDICAL,SHARE,DEPENDENT,HDHP,ACTIVE,,,,...,,,,,,,,,,0
1,Anderson,Ryan,MEDICAL,SHARE,SUBSCRIBER,HDHP,ACTIVE,X,08/30/2022,08/30/2022,...,,,,,,,,,,0
2,Applegarth,Paul,MEDICAL,SHARE,SUBSCRIBER,HDHP,ACTIVE,X,08/01/2022,08/11/2022,...,,,,,,,,,,0
3,Bagley,Lori,MEDICAL,SHARE,SUBSCRIBER,HDHP,ACTIVE,X,08/19/2022,09/02/2022,...,,,,,X,,,X,,2
4,Barkdull,Jolean,MEDICAL,SHARE,SUBSCRIBER,HDHP,ACTIVE,X,08/01/2022,08/22/2022,...,,,,,,,,,,0

In [29]:
# df1.columns

In [10]:
# Only Columns we need here sorting out the unnecessary column names. 

list_of_column_names = ['Last Name', 'First Name', 'Member Status', 'Plan Status', 'Product', 'Plan Type', 'Last Health Assessment \
(VP Health Check)', 'Last Digital Coaching (1 VP Journey)', 'Health Screening (Worksite or Provider)','Activity \
Campaigns (VP Team Challenges) **']

df_sort = df1[list_of_column_names]

In [11]:
df_sort.head()

# Filter out only subscribers.
df_sort = df_sort[(df_sort['Member Status'] == 'SUBSCRIBER') & (df_sort['Product'] == 'SHARE') & (df_sort['Plan Type'] =='HDHP')]

df_sort.head(10)

,Last Name,First Name,Member Status,Plan Status,Product,Plan Type,Last Health Assessment (VP Health Check),Last Digital Coaching (1 VP Journey),Health Screening (Worksite or Provider),Activity Campaigns (VP Team Challenges) **
1,Anderson,Ryan,SUBSCRIBER,ACTIVE,SHARE,HDHP,08/30/2022,08/30/2022,X,2
2,Applegarth,Paul,SUBSCRIBER,ACTIVE,SHARE,HDHP,08/01/2022,08/11/2022,X,2
3,Bagley,Lori,SUBSCRIBER,ACTIVE,SHARE,HDHP,08/19/2022,09/02/2022,X,4
4,Barkdull,Jolean,SUBSCRIBER,ACTIVE,SHARE,HDHP,08/01/2022,08/22/2022,X,2
10,Bedell,Kerry,SUBSCRIBER,ACTIVE,SHARE,HDHP,08/03/2022,11/17/2022,X,2
15,Bucklin,Todd,SUBSCRIBER,ACTIVE,SHARE,HDHP,08/23/2022,09/18/2022,X,2
18,Chiappetta,Emma,SUBSCRIBER,ACTIVE,SHARE,HDHP,08/25/2022,10/13/2022,X,2
19,Christiansen,Angela,SUBSCRIBER,ACTIVE,SHARE,HDHP,08/27/2022,10/01/2022,X,3
20,Coombs,Jenny,SUBSCRIBER,ACTIVE,SHARE,HDHP,08/22/2022,,X,0
29,Crosby,Cheri,SUBSCRIBER,ACTIVE,SHARE,HDHP,08/24/2022,,X,1

In [12]:
# Replacing any blank cells with NaN
df_sort = df_sort.replace(r'^\s*$', np.nan, regex=True)

In [13]:
df_sort.head(20)

,Last Name,First Name,Member Status,Plan Status,Product,Plan Type,Last Health Assessment (VP Health Check),Last Digital Coaching (1 VP Journey),Health Screening (Worksite or Provider),Activity Campaigns (VP Team Challenges) **
1,Anderson,Ryan,SUBSCRIBER,ACTIVE,SHARE,HDHP,08/30/2022,08/30/2022,X,2
2,Applegarth,Paul,SUBSCRIBER,ACTIVE,SHARE,HDHP,08/01/2022,08/11/2022,X,2
3,Bagley,Lori,SUBSCRIBER,ACTIVE,SHARE,HDHP,08/19/2022,09/02/2022,X,4
4,Barkdull,Jolean,SUBSCRIBER,ACTIVE,SHARE,HDHP,08/01/2022,08/22/2022,X,2
10,Bedell,Kerry,SUBSCRIBER,ACTIVE,SHARE,HDHP,08/03/2022,11/17/2022,X,2
15,Bucklin,Todd,SUBSCRIBER,ACTIVE,SHARE,HDHP,08/23/2022,09/18/2022,X,2
18,Chiappetta,Emma,SUBSCRIBER,ACTIVE,SHARE,HDHP,08/25/2022,10/13/2022,X,2
19,Christiansen,Angela,SUBSCRIBER,ACTIVE,SHARE,HDHP,08/27/2022,10/01/2022,X,3
20,Coombs,Jenny,SUBSCRIBER,ACTIVE,SHARE,HDHP,08/22/2022,NaN,X,0
29,Crosby,Cheri,SUBSCRIBER,ACTIVE,SHARE,HDHP,08/24/2022,NaN,X,1
31,Culberson,James,SUBSCRIBER,ACTIVE,SHARE,HDHP,NaN,NaN,X,0
33,Davis,Melissa,SUBSCRIBER,ACTIVE,SHARE,HDHP,08/22/2022,08/30/2022,X,2
34,Djeubou,Claude,SUBSCRIBER,ACTIVE,SHARE,HDHP,NaN,NaN,X,0
37,Earl,Amy,SUBSCRIBER,ACTIVE,SHARE,HDHP,11/06/2022,NaN,X,2
38,Farley,Seth,SUBSCRIBER,ACTIVE,SHARE,HDHP,NaN,NaN,X,0
40,Fonseca,Kira,SUBSCRIBER,ACTIVE,SHARE,HDHP,11/14/2022,11/01/2022,X,1
42,Guidos,Jason,SUBSCRIBER,ACTIVE,SHARE,HDHP,NaN,NaN,X,0
44,Hanks,Joseph,SUBSCRIBER,ACTIVE,SHARE,HDHP,08/24/2022,NaN,X,0
45,Hooper,Holly,SUBSCRIBER,ACTIVE,SHARE,HDHP,NaN,NaN,X,0
47,Huntsman,Esther,SUBSCRIBER,ACTIVE,SHARE,HDHP,NaN,NaN,X,2

In [14]:
# Pulling columns where we want to see if people have done something or not.  These columns are being prepared 
# for converting to 0's or 1's as a yes or no response. 

df_parse = df_sort[['Last Health Assessment (VP Health Check)', 'Last Digital Coaching (1 VP Journey)', 'Health Screening (Worksite or Provider)']]
df_parse.head(20)

,Last Health Assessment (VP Health Check),Last Digital Coaching (1 VP Journey),Health Screening (Worksite or Provider)
1,08/30/2022,08/30/2022,X
2,08/01/2022,08/11/2022,X
3,08/19/2022,09/02/2022,X
4,08/01/2022,08/22/2022,X
10,08/03/2022,11/17/2022,X
15,08/23/2022,09/18/2022,X
18,08/25/2022,10/13/2022,X
19,08/27/2022,10/01/2022,X
20,08/22/2022,NaN,X
29,08/24/2022,NaN,X
31,NaN,NaN,X
33,08/22/2022,08/30/2022,X
34,NaN,NaN,X
37,11/06/2022,NaN,X
38,NaN,NaN,X
40,11/14/2022,11/01/2022,X
42,NaN,NaN,X
44,08/24/2022,NaN,X
45,NaN,NaN,X
47,NaN,NaN,X

In [15]:
# Dropping columns above from df_sort. Will remerge later. 

cols = ['Last Health Assessment (VP Health Check)', 'Last Digital Coaching (1 VP Journey)', 'Health Screening (Worksite or Provider)']
df_sort = df_sort.drop(labels=cols,axis=1)

In [16]:
df_sort.head(20)

,Last Name,First Name,Member Status,Plan Status,Product,Plan Type,Activity Campaigns (VP Team Challenges) **
1,Anderson,Ryan,SUBSCRIBER,ACTIVE,SHARE,HDHP,2
2,Applegarth,Paul,SUBSCRIBER,ACTIVE,SHARE,HDHP,2
3,Bagley,Lori,SUBSCRIBER,ACTIVE,SHARE,HDHP,4
4,Barkdull,Jolean,SUBSCRIBER,ACTIVE,SHARE,HDHP,2
10,Bedell,Kerry,SUBSCRIBER,ACTIVE,SHARE,HDHP,2
15,Bucklin,Todd,SUBSCRIBER,ACTIVE,SHARE,HDHP,2
18,Chiappetta,Emma,SUBSCRIBER,ACTIVE,SHARE,HDHP,2
19,Christiansen,Angela,SUBSCRIBER,ACTIVE,SHARE,HDHP,3
20,Coombs,Jenny,SUBSCRIBER,ACTIVE,SHARE,HDHP,0
29,Crosby,Cheri,SUBSCRIBER,ACTIVE,SHARE,HDHP,1
31,Culberson,James,SUBSCRIBER,ACTIVE,SHARE,HDHP,0
33,Davis,Melissa,SUBSCRIBER,ACTIVE,SHARE,HDHP,2
34,Djeubou,Claude,SUBSCRIBER,ACTIVE,SHARE,HDHP,0
37,Earl,Amy,SUBSCRIBER,ACTIVE,SHARE,HDHP,2
38,Farley,Seth,SUBSCRIBER,ACTIVE,SHARE,HDHP,0
40,Fonseca,Kira,SUBSCRIBER,ACTIVE,SHARE,HDHP,1
42,Guidos,Jason,SUBSCRIBER,ACTIVE,SHARE,HDHP,0
44,Hanks,Joseph,SUBSCRIBER,ACTIVE,SHARE,HDHP,0
45,Hooper,Holly,SUBSCRIBER,ACTIVE,SHARE,HDHP,0
47,Huntsman,Esther,SUBSCRIBER,ACTIVE,SHARE,HDHP,2

In [17]:
df_sort.dtypes

Last Name                                     object
First Name                                    object
Member Status                                 object
Plan Status                                   object
Product                                       object
Plan Type                                     object
Activity Campaigns (VP Team Challenges) **     int64
dtype: object

In [18]:
df_parse.head()

,Last Health Assessment (VP Health Check),Last Digital Coaching (1 VP Journey),Health Screening (Worksite or Provider)
1,08/30/2022,08/30/2022,X
2,08/01/2022,08/11/2022,X
3,08/19/2022,09/02/2022,X
4,08/01/2022,08/22/2022,X
10,08/03/2022,11/17/2022,X

In [19]:
# This is converting anything that is null to a zero "int" dtype and anything notnull to a one "int" dtype.
 
df_parse = df_parse.notnull().astype('int')

In [20]:
df_parse.head()

,Last Health Assessment (VP Health Check),Last Digital Coaching (1 VP Journey),Health Screening (Worksite or Provider)
1,1,1,1
2,1,1,1
3,1,1,1
4,1,1,1
10,1,1,1

In [21]:
# Testing iloc function and getting a feel for how it will come out. 
# Feel that it will be easier for program to run line by line through the data rather than create lists for each
# column. 

s1 = df_sort.iloc[1]

In [22]:
print(s1)

Last Name                                     Applegarth
First Name                                          Paul
Member Status                                 SUBSCRIBER
Plan Status                                       ACTIVE
Product                                            SHARE
Plan Type                                           HDHP
Activity Campaigns (VP Team Challenges) **             2
Name: 2, dtype: object

In [23]:
type(s1[4])

str

In [24]:
# Merging these two dfs back together to one cleaned up file from the health insurance company. 

result = pd.concat([df_sort, df_parse], axis=1)

In [25]:
result.head()

,Last Name,First Name,Member Status,Plan Status,Product,Plan Type,Activity Campaigns (VP Team Challenges) **,Last Health Assessment (VP Health Check),Last Digital Coaching (1 VP Journey),Health Screening (Worksite or Provider)
1,Anderson,Ryan,SUBSCRIBER,ACTIVE,SHARE,HDHP,2,1,1,1
2,Applegarth,Paul,SUBSCRIBER,ACTIVE,SHARE,HDHP,2,1,1,1
3,Bagley,Lori,SUBSCRIBER,ACTIVE,SHARE,HDHP,4,1,1,1
4,Barkdull,Jolean,SUBSCRIBER,ACTIVE,SHARE,HDHP,2,1,1,1
10,Bedell,Kerry,SUBSCRIBER,ACTIVE,SHARE,HDHP,2,1,1,1

In [31]:
# Pulling in data from our gsheets database into a new dataframe. 

gc = gspread.service_account(filename="/Users/travismagaluk/Documents/Coding Work/Other Wasatch Projects/Health_and_Wellness_Emails/excellent-range-359215-54acfee9562d.json")

sh = gc.open("Health And Wellness Tracking")

ws = sh.worksheet('Sheet1')

df = pd.DataFrame(ws.get_all_records())

df.head()

,Last Name,First Name,Preferred First,Email Address,Initiatives Completed,Reimbursements Received,Reimbursement Left,Last Email Sent (Y/N),Current Employee (Y/N),Email
0,Austin,Ashley,Ashley,travis.magaluk@wasatchacademy.org,,0.0,100.0,N,Y,Ashley.Austin@wasatchacademy.org
1,Kendall,Brian,Brian,travis.magaluk@wasatchacademy.org,,0.0,100.0,N,Y,Brian.Kendall@wasatchacademy.org
2,Tufele,Myrraha,Myrraha,travis.magaluk@wasatchacademy.org,,0.0,100.0,N,Y,Myrraha.Tufele@wasatchacademy.org
3,Tree,Todd,Todd,travis.magaluk@wasatchacademy.org,,0.0,100.0,N,Y,Todd.Tree@wasatchacademy.org
4,Hooper,Aaron,Aaron,travis.magaluk@wasatchacademy.org,,0.0,100.0,N,Y,aaron.hooper@wasatchacademy.org

In [32]:
# Play around with getting these to merge into one nice dataframe that we can use with the email generation part
# of this program. 

test = pd.merge(result, df, how="inner", on=["First Name", "Last Name"])

In [33]:
test.head()

,Last Name,First Name,Member Status,Plan Status,Product,Plan Type,Activity Campaigns (VP Team Challenges) **,Last Health Assessment (VP Health Check),Last Digital Coaching (1 VP Journey),Health Screening (Worksite or Provider),Preferred First,Email Address,Initiatives Completed,Reimbursements Received,Reimbursement Left,Last Email Sent (Y/N),Current Employee (Y/N),Email
0,Anderson,Ryan,SUBSCRIBER,ACTIVE,SHARE,HDHP,2,1,1,1,Ryan,travis.magaluk@wasatchacademy.org,,0.0,100.0,N,Y,ryan.anderson@wasatchacademy.org
1,Applegarth,Paul,SUBSCRIBER,ACTIVE,SHARE,HDHP,2,1,1,1,Paul,travis.magaluk@wasatchacademy.org,,0.0,100.0,N,Y,paul.applegarth@wasatchacademy.org
2,Bagley,Lori,SUBSCRIBER,ACTIVE,SHARE,HDHP,4,1,1,1,Lori,travis.magaluk@wasatchacademy.org,,0.0,100.0,N,Y,lori.bagley@wasatchacademy.org
3,Barkdull,Jolean,SUBSCRIBER,ACTIVE,SHARE,HDHP,2,1,1,1,Jolean,travis.magaluk@wasatchacademy.org,,0.0,100.0,N,Y,jolean.barkdull@wasatchacademy.org
4,Bedell,Kerry,SUBSCRIBER,ACTIVE,SHARE,HDHP,2,1,1,1,Kerry,travis.magaluk@wasatchacademy.org,,0.0,100.0,N,Y,kerry.bedell@wasatchacademy.org

In [34]:
test.shape

(64, 18)

In [35]:
test.columns

col_names = ['First Name', 'Last Name', 'Email Address',
       'Health Screening (Worksite or Provider)',
       'Last Health Assessment (VP Health Check)',
       'Last Digital Coaching (1 VP Journey)',
       'Activity Campaigns (VP Team Challenges) **',
       'Initiatives Completed', 'Reimbursements Received',
       'Reimbursement Left', 'Last Email Sent (Y/N)',
       'Current Employee (Y/N)']

test = test[col_names]

In [36]:
def reorder_rename_cols(old_df):
    list_of_column_names = ['First Name',
                            'Last Name',
                            'Email Address',
                            'Health Screening (Worksite or Provider)',
                            'Last Health Assessment (VP Health Check)',
                            'Last Digital Coaching (1 VP Journey)',
                            'Activity Campaigns (VP Team Challenges) **',
                            'Initiatives Completed',
                            'Reimbursements Received',
                            'Reimbursement Left',
                            'Last Email Sent (Y/N)',
                            'Current Employee (Y/N)']

    old_df = old_df[list_of_column_names].copy()
    renamed_df = old_df.rename(columns={'Health Screening (Worksite or Provider)': 'Health Screening',
                                        'Last Health Assessment (VP Health Check)': 'Health Assessment',
                                        'Activity Campaigns (VP Team Challenges) **': 'Activity Campaigns'})
    return renamed_df

In [37]:
test4 = reorder_rename_cols(test)

In [38]:
def completed_check(person_data, item, output):

    if person_data[item] == 1:
        completed.append(output)
    else:
        un_completed.append(output)

In [39]:
def data_gather(person_data):
    
    requirements = ({3: 'Health Screening',
                     4: 'Health Assessment',
                     5: 'Digital Coaching (VP Journey)',
                     6: 'First Activity Campaign',
                     7: 'Second Activity Campaign',
                 })
    
    f_name = person_data[0]
    l_name = person_data[1]
    email = person_data[2]
    completed = []
    un_completed = []
    
    for j in range(3,6):
        completed_check(person_data, j, requirements[j])
    
    return f_name, l_name, email, completed, un_completed

In [43]:
test4.head(30)

,First Name,Last Name,Email Address,Health Screening,Health Assessment,Last Digital Coaching (1 VP Journey),Activity Campaigns,Initiatives Completed,Reimbursements Received,Reimbursement Left,Last Email Sent (Y/N),Current Employee (Y/N)
0,Ryan,Anderson,travis.magaluk@wasatchacademy.org,1,1,1,2,,0.00,100.00,N,Y
1,Paul,Applegarth,travis.magaluk@wasatchacademy.org,1,1,1,2,,0.00,100.00,N,Y
2,Lori,Bagley,travis.magaluk@wasatchacademy.org,1,1,1,4,,0.00,100.00,N,Y
3,Jolean,Barkdull,travis.magaluk@wasatchacademy.org,1,1,1,2,,0.00,100.00,N,Y
4,Kerry,Bedell,travis.magaluk@wasatchacademy.org,1,1,1,2,,0.00,100.00,N,Y
5,Todd,Bucklin,travis.magaluk@wasatchacademy.org,1,1,1,2,,0.00,100.00,N,Y
6,Emma,Chiappetta,travis.magaluk@wasatchacademy.org,1,1,1,2,,95.99,4.01,N,Y
7,Angela,Christiansen,travis.magaluk@wasatchacademy.org,1,1,1,3,,0.00,100.00,N,Y
8,Jenny,Coombs,travis.magaluk@wasatchacademy.org,1,1,0,0,,0.00,100.00,N,Y
9,Cheri,Crosby,travis.magaluk@wasatchacademy.org,1,1,0,1,,0.00,100.00,N,Y
10,James,Culberson,travis.magaluk@wasatchacademy.org,1,0,0,0,,0.00,100.00,N,Y
11,Melissa,Davis,travis.magaluk@wasatchacademy.org,1,1,1,2,,0.00,100.00,N,Y
12,Claude,Djeubou,travis.magaluk@wasatchacademy.org,1,0,0,0,,0.00,100.00,N,Y
13,Seth,Farley,travis.magaluk@wasatchacademy.org,1,0,0,0,,0.00,100.00,N,Y
14,Kira,Fonseca,travis.magaluk@wasatchacademy.org,1,1,1,1,,0.00,100.00,N,Y
15,Jason,Guidos,travis.magaluk@wasatchacademy.org,1,0,0,0,,0.00,100.00,N,Y
16,Joseph,Hanks,travis.magaluk@wasatchacademy.org,1,1,0,0,,0.00,100.00,N,Y
17,Holly,Hooper,travis.magaluk@wasatchacademy.org,1,0,0,0,,0.00,100.00,N,Y
18,Esther,Huntsman,travis.magaluk@wasatchacademy.org,1,0,0,2,,0.00,100.00,N,Y
19,Joseph,Impala,travis.magaluk@wasatchacademy.org,1,0,0,0,,0.00,100.00,N,Y
20,Brian,Jespersen,travis.magaluk@wasatchacademy.org,1,0,0,0,,0.00,100.00,N,Y
21,Graham,Jessee,travis.magaluk@wasatchacademy.org,1,1,1,2,,100.00,0.00,N,Y
22,Jessica,Johnson,travis.magaluk@wasatchacademy.org,0,0,0,0,,0.00,100.00,N,Y
23,Brian,Kendall,travis.magaluk@wasatchacademy.org,0,0,0,0,,0.00,100.00,N,Y
24,Tyler,Kennedy,travis.magaluk@wasatchacademy.org,1,1,1,4,,0.00,100.00,N,Y
25,Frederick,Landy,travis.magaluk@wasatchacademy.org,1,0,0,0,,0.00,100.00,N,Y
26,Jonelle,Larsen,travis.magaluk@wasatchacademy.org,1,0,0,0,,0.00,100.00,N,Y
27,Derek,Lashot,travis.magaluk@wasatchacademy.org,1,0,0,0,,0.00,100.00,N,Y
28,Annemarie,Lund,travis.magaluk@wasatchacademy.org,1,1,1,2,,0.00,100.00,N,Y
29,Travis,Madsen,travis.magaluk@wasatchacademy.org,1,1,0,3,,0.00,100.00,N,Y

In [41]:
person_data1= test4.iloc[1]

In [42]:
data_gather(person_data1)

NameError: name 'completed' is not defined

In [58]:
person_data1[0]

'Michelle'

In [60]:
# for i in range(len(test4)):
#     person_data = test4.iloc[i]
#     print(person_data)